@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');


/*************************Parágrafos***********************************/
p{
    text-indent: 30px;
    text-align: justify;
}

/****************************Links ************************************/
.link{
    font-weight: bold;
    color: #1c6a36;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.link::after{
    content: "🔗";
}

/*******************Negrito ou palavras destacadas no texto*****************/
strong{
    color: #1c6a36;
}

/*******************************body***************************************/
body{
    background-color: #55b070;
    margin: 0px;
}


/*****************************cabeçalho*********************************/
header{
    background-image: linear-gradient(180deg, #32d663, #01370b);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 180px;
    display: block;
}

h1{
        font-family: 'Pathway Gothic One', sans-serif;
        text-align: center;
        color: white;
        font-size: 3em;
        padding-top: 20px;
        margin-top: -9px;
        margin-bottom: -2px;
        font-weight: bold;
        text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.335);
}


/***********************Títulos e subtitulos-----------------------------------------*/

h2, h3{
    font-family: 'idroid';
    font-weight: normal;
    color: rgb(1, 72, 1);
}

.subtitulo{
    background-image: linear-gradient(90deg, rgba(149, 243, 149, 0.344), white);

}

/******************Aside e Parágrafo do cabeçalho***************************/ 

aside{
    color: white;
    margin: auto;
    width: 400px;
    margin-top: 0px;
}
aside > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;

}    
nav{
    padding-left: 50px;
}
nav > a{
    font-size: 1.1em;
    color:white;
    font-weight: normal;
    margin: 0px;
    padding-right: 30px;
    text-decoration: none;

}
nav > a:hover{
    font-weight: bold;
    text-decoration: underline;
}

/************************Main************************************/

main{
    background-color: white;
    margin: auto;
    width: 800px;
    padding: 5px 20px 20px 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 4px 6px 1px rgb(0 0 0 / 29%);
}

/********************Quadro saber mais************************/
#sabermais{
    border-radius: 10px;
    background-color: #b7f3ca96;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 26%);
}
/*********************Título saber mais**********************/
#aprendermais{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #17aa48;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin-left: -5px;
}

/***********************Lista saber mais*********************/
ul > div{
    display: inline-block;
    margin-right: 200px;
}

.lista > li > a{
    color: black;
}

.lista > li > a:hover{
    font-weight: bold;
}

.lista > li > a:before{
    content: "✔ ";

}

/*******************Imagem bugbroid**************************/
#bugdroid{
    margin: auto;
    display: block;
}

/***********************Vídeo***********************************/
iframe {
    width: 750px;
    margin-left: -20px;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 45px;
    border-right: 45px;
    border-style: solid;
    border-color: #0a5122;
}

/***********************Footer***********************************/
footer > p{
    text-align: center;    
    background-color: #073918;
    color: white;
    margin-bottom: -6px;
    padding: 4px;
}